*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/gradle.properties
/projectFilesBackup/
/.idea/
bin/
gen/
gradle
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
/keystore.properties
